<div class="page">

  <div class="back" (click)="voltar()">
    <span class="arrow">←</span>
    <span>Voltar</span>
  </div>

  <div class="register-card">

    <!-- ALUNO -->
    <ng-container *ngIf="tipo === 'aluno'">

      <div class="header">
        <div class="icon-box blue">
          <i class="fa-solid fa-graduation-cap icon"></i>
        </div>
        <div>
          <h1>Registro do Aluno</h1>
          <p>Crie sua conta</p>
        </div>
      </div>

      <form (submit)="registrar($event)">

        <div class="input-group">
          <label>Digite seu login (RA)</label>
          <input
            type="text"
            placeholder="RA12345"
            [(ngModel)]="ra"
            name="ra"
          />
        </div>



        <div class="input-group">
          <label>Digite seu email</label>
          <input
            type="text"
            placeholder="email"
            [(ngModel)]="email"
            name="email"
          />
        </div>

        <div class="input-group">
          <label>Digite seu nome</label>
          <input
            type="text"
            placeholder="nome"
            [(ngModel)]="nome"
            name="nome"
          />
        </div>

        <div class="input-group">
          <label>Digite sua senha</label>
          <input
            type="password"
            placeholder="••••••••"
            [(ngModel)]="senha"
            name="senha"
          />
        </div>

        <div class="input-group">
          <label>Confirme sua senha</label>
          <input
            type="password"
            placeholder="••••••••"
            [(ngModel)]="confirmar"
            name="confirmar"
          />
        </div>

        <button type="submit">Registrar</button>

      </form>

    </ng-container>

    <!-- PROFESSOR -->
    <ng-container *ngIf="tipo === 'professor'">

      <div class="header">
        <div class="icon-box purple">
          <i class="fa-regular fa-user icon"></i>
        </div>
        <div>
          <h1>Registro do Professor</h1>
          <p>Crie sua conta</p>
        </div>
      </div>

      <form (submit)="registrar($event)">

        <div class="input-group">
          <label>Digite seu login (email)</label>
          <input
            type="text"
            placeholder="000.000.000-00"
            [(ngModel)]="email"
            name="email"
          />
        </div>


        <div class="input-group">
          <label>Digite seu nome</label>
          <input
            type="text"
            placeholder="Nome:"
            [(ngModel)]="nome"
            name="nome"
          />
        </div>

        <div class="input-group">
          <label>Digite sua senha</label>
          <input
            type="password"
            placeholder="••••••••"
            [(ngModel)]="senha"
            name="senha"
          />
        </div>

        <div class="input-group">
          <label>Confirme sua senha</label>
          <input
            type="password"
            placeholder="••••••••"
            [(ngModel)]="confirmar"
            name="confirmar"
          />
        </div>

        <button type="submit">Registrar</button>

      </form>

    </ng-container>

    <div class="login-link">
      Já tem uma conta? <a (click)="irParaLogin()">Faça login</a>
    </div>

  </div>

</div>
