<form (submit)="registrar($event)">

  <select name="tipo" [(ngModel)]="tipo">

    <option value="aluno">
      Aluno
    </option>

    <option value="professor">
      Professor
    </option>

  </select>

  <input
    type="text"
    name="nome"
    placeholder="Nome"
    [(ngModel)]="nome"
  >

  <input
    type="email"
    name="email"
    placeholder="Email"
    [(ngModel)]="email"
  >

  <!-- ALUNO -->
  <div *ngIf="tipo === 'aluno'">

    <input
      type="text"
      name="ra"
      placeholder="RA"
      [(ngModel)]="ra"
    >

    <input
      type="text"
      name="curso"
      placeholder="Curso"
      [(ngModel)]="curso"
    >

    <input
      type="text"
      name="turma"
      placeholder="Turma"
      [(ngModel)]="turma"
    >

  </div>

  <!-- PROFESSOR -->
  <div *ngIf="tipo === 'professor'">

    <input
      type="text"
      name="cpf"
      placeholder="CPF"
      [(ngModel)]="cpf"
    >

    <input
      type="text"
      name="especialidade"
      placeholder="Especialidade"
      [(ngModel)]="especialidade"
    >

  </div>

  <input
    type="password"
    name="senha"
    placeholder="Senha"
    [(ngModel)]="senha"
  >

  <input
    type="password"
    name="confirmar"
    placeholder="Confirmar senha"
    [(ngModel)]="confirmar"
  >

  <button type="submit">
    Registrar
  </button>

</form>